<div class="footer-bg">
    <div class="container">
        <div class="footer-ad" style="width: 350px;">
            <p class="mb-5 fw-semibold text-light2 fs-2">記得<br>訂閱以獲取更多資訊！</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your email address"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-info btn-size" type="button" id="button-addon2">Subscribe</button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-white bg-info">
    <div class="container d-flex align-items-center justify-content-between justify-content-lg-start">

        <a class="navbar-brand me-5 py-0" href="index.html">
            <img src="../assets/images/d’Perfumewhite.png" alt="香水電商">
        </a>
        <span class="text-white fs-7 fs-lg-6 text-end">© 2020. All Rights Reserved.</span>
        <div class="collapse navbar-collapse d-none d-lg-block" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex align-items-center">
                    <a href="product.html" class="d-flex text-decoration-none link-hover">
                        <span class="fs-6">Product</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center ms-9">
                    <a href="#" class="d-flex text-decoration-none link-hover">
                        <span class="fs-6">Blog</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center ms-9">
                    <a href="#" class="d-flex text-decoration-none link-hover">
                        <span class="fs-6">Contact</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>