  <nav class="navbar navbar-light bg-info d-none d-lg-block">
    <div class="container">
        <ul class="navbar-nav me-auto flex-row product-select">
            <li class="nav-item">
              <a class="nav-link text-white px-4" href="#" type="button" data-name="全部">全部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-4" href="#" type="button" data-name="清新海洋">清新海洋</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-4" href="#" type="button" data-name="木質">木質</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-4" href="#" type="button" data-name="花香調">花香調</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-4" href="#" type="button" data-name="果香調">果香調</a>
            </li>
          </ul>
    </div>
  </nav>