<nav class="navbar navbar-expand-lg navbar-white bg-white sticky-top pb-0 pb-lg-2">
    <div class="container-lg container-fluid px-0 px-lg-3 d-block d-lg-flex  position-relative">
        <div class="pb-2 pb-lg-0">
            <a class="navbar-brand px-3 px-lg-0" href="index.html"><img src="../assets/images/d’Perfume.png" alt="香水電商" class="img-fluid" style="object-fit: cover;"></a>
            <div class="position-absolute top-0 end-0 px-3 px-lg-0">
                <a type="button" class="btn text-end position-relative p-0 d-lg-none me-4">
                    <span class="material-symbols-outlined fs-4" href="#" style="color: #8D8D8D;">
                        shopping_cart
                    </span>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                      3
                      <span class="visually-hidden">unread messages</span>
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-0">
                <li class="nav-item d-flex align-items-center me-lg-7 justify-content-center justify-content-lg-start" style="transform: rotate(0);">
                    <a href="product.html" class="d-lg-flex text-decoration-none stretched-link">
                        <span class="d-none d-lg-block material-symbols-outlined me-1 p-0 fs-3 lh-1">
                            store
                        </span>
                        <span class="fs-5">Product</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center me-lg-7 justify-content-center justify-content-lg-start" style="transform: rotate(0);">
                    <a href="#" class="d-lg-flex text-decoration-none stretched-link">
                        <span class="d-none d-lg-block material-symbols-outlined me-1 p-0 fs-3 lh-1">
                            person
                        </span>
                        <span class="fs-5">log in</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center me-lg-7 justify-content-center justify-content-lg-start" style="transform: rotate(0);">
                    <a href="wishlist.html" class="d-lg-flex text-decoration-none stretched-link">
                        <span class="d-none d-lg-block material-symbols-outlined me-1 p-0 fs-3 lh-1" href="#">
                            favorite
                        </span>
                        <span class="fs-5">Wishlist</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center justify-content-center justify-content-lg-start" style="transform: rotate(0);">
                    <a href="#" class="d-lg-flex text-decoration-none stretched-link">
                        <span class="d-none d-lg-block material-symbols-outlined me-1 p-0 fs-3 lh-1" href="#">
                            shopping_cart
                        </span>
                        <span class="fs-5">Cart(3)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
