<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="index.html"><img src="../assets/images/d’Perfume.png" alt="香水電商" class="img-fluid" style="object-fit: cover;"></a>
        <div>
            <a type="button" class="btn text-end position-relative p-0 d-lg-none me-4">
                <span class="material-symbols-outlined fs-4" href="#" style="color: #8D8D8D;">
                    shopping_cart
                </span>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                  3
                  <span class="visually-hidden">unread messages</span>
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex align-items-center me-lg-7">
                    <a href="product.html" class="d-flex text-decoration-none">
                        <span class="material-symbols-outlined nav-link me-1 p-0 fs-4" style="color: #8D8D8D;">
                            store
                        </span>
                        <span class="fs-6 text-light2">Product</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center me-lg-7">
                    <a href="#" class="d-flex text-decoration-none">
                        <span class="material-symbols-outlined nav-link me-1 p-0 fs-4" style="color: #8D8D8D;">
                            person
                        </span>
                        <span class="fs-6 text-light2">log in</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center me-lg-7">
                    <a href="wishlist.html" class="d-flex text-decoration-none">
                        <span class="material-symbols-outlined nav-link me-1 p-0 fs-4" href="#" style="color: #8D8D8D;">
                            favorite
                        </span>
                        <span class="fs-6 text-light2">Wishlist</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="d-flex text-decoration-none">
                        <span class="material-symbols-outlined nav-link me-1 p-0 fs-4" href="#" style="color: #8D8D8D;">
                            shopping_cart
                        </span>
                        <span class="fs-6 text-light2">Cart(3)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>