.index-title {
  font-size: 100px;
}
.banner{
  background-image: url("../assets/images/laura-chouette-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 295px 405px;
};