<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>香水電商</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="banner">
      <div class="container">
        <div class="banner-content ms-lg-auto w-lg-40 w-100 text-white">
          <h1 class="mb-0 fw-bold fs-2 fs-lg-1">Perfume your day</h1>
          <p class="mb-4 fs-5 fs-lg-4">A perfume is like a piece of clothing, a message, a way of presenting oneself a costume
            that according to the person who wears it.</p>
          <a type="button" class="btn btn-outline-white rounded-pill col-12 col-lg-9 ptb-14 fs-3 fw-bold">Shop now</a>
        </div>
      </div>
    </div>
    <div class="container mb-15 mt-19">
      <div class="row g-4">
        <div class="col-12 col-lg-6 mt-0 d-flex align-items-center justify-content-center pe-lg-0 order-2 order-lg-0 mt-2 mb-8 mt-lg-0 mb-lg-0">
          <div class="text-content-size">
            <h2 class="fw-bold mb-0 fs-2">Gabrielle CHANEL</h2>
            <p class="fs-5 fw-light">全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。 極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。
            </p>
            <a href="#" class="text-warning text-decoration-none fw-semibold">查看更多</a>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-0 ps-lg-0 order-1 order-lg-0">
          <img src="../assets/images/olena-bohovyk.jpg" class="card-img-top img-fluid img-size" alt="Gabrielle CHANE"
            >
        </div>
        <div class="col-12 col-lg-6 mt-0 pe-lg-0 order-3 order-lg-0">
          <img src="../assets/images/photo-1.png" class="card-img-top img-fluid img-size" alt="Gabrielle CHANE"
            >
        </div>
        <div class="col-12 col-lg-6 mt-0 d-flex align-items-center justify-content-center ps-lg-0 order-4 order-lg-0 mt-2 mb-8 mt-lg-0 mb-lg-0">
          <div class="text-content-size">
            <h2 class="fw-bold mb-0">Five O’clock<br>Au Gingembre</h2>
            <p class="fs-5 fw-light">生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。
            </p>
            <a href="#" class="text-warning text-decoration-none fw-semibold">查看更多</a>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-0 d-flex align-items-center justify-content-center pe-lg-0 order-6 order-lg-0 mt-2 mb-8 mt-lg-0 mb-lg-0">
          <div class="text-content-size">
            <h2 class="fw-bold mb-0">CHANEL N°5</h2>
            <p class="fs-5 fw-light">N°5，女性魅力的極致精髓。散發柔美澄透的乙醛花束香氣。經典傳奇香氛，蘊藏於極簡設計的獨特瓶身。
            </p>
            <a href="#" class="text-warning text-decoration-none fw-semibold">查看更多</a>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-0 ps-lg-0 order-5 order-lg-0">
          <img src="../assets/images/erin-east.jpg" class="card-img-top img-fluid img-size" alt="Gabrielle CHANE"
            >
        </div>
        <div class="col-12 col-lg-6 mt-0 pe-lg-0 order-7 order-lg-0">
          <img src="../assets/images/annie-spratt.jpg" class="card-img-top img-fluid img-size h-100" alt="Gabrielle CHANE"
            style="object-fit: cover;">
        </div>
        <div class="col-12 col-lg-6 mt-0 py-92 ps-110 order-8 order-lg-0 mt-2 mb-8 mt-lg-0 mb-lg-0">
          <div class="mb-13 text-content-size">
            <h5 class="fw-semibold mb-0 mb-1">1.<br>Levels of Preventive<br>Maintenance Compliance</h5>
            <p class="fw-light">The core idea of preventative maintenance is the performance of proactive actions
              against unscheduled downtime in order to identify potential defects before they evolve into something more
              severe.
            </p>
          </div>
          <div class="mb-13 text-content-size">
            <h5 class="fw-semibold mb-0 mb-1">2.<br>Percentage of <br>Planned Maintenance</h5>
            <p class="fw-light">The core idea of preventative maintenance is the performance of proactive actions
              against unscheduled downtime in order to identify potential defects before they evolve into something more
              severe.
            </p>
          </div>
          <div class="mb-13 text-content-size">
            <h5 class="fw-semibold mb-0 mb-1">3.<br>Critical percentage of <br>planned maintenance</h5>
            <p class="fw-light">The core idea of preventative maintenance is the performance of proactive actions
              against unscheduled downtime in order to identify potential defects before they evolve into something more
              severe.
            </p>
          </div>
          <a type="button" class="btn btn-outline-black border-2 rounded-pill col-12 col-lg-9 ptb-14 fs-5 fw-medium"
          >Plan a free online training</a>
        </div>
      </div>
    </div>
    <div class="bg-light py-8">
      <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 g-4">
          <div class="col">
            <div class="card border-0">
              <img src="../assets/images/hyunwon-jang.jpg" class="card-img-top img-fluid h-100" alt="Poppy & Barley">
              <div class="card-body bg-light border-0 px-0 pt-2 pb-0">
                <h5 class="card-title fw-semibold mb-0">Poppy & Barley</h5>
                <p class="fw-light">Jo Malone</p>
                <p class="card-text d-flex">
                  <span class="pe-2">NT$1,380</span>
                  <span class="text-decoration-line-through text-light2">NT$1,580</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 h-100">
              <img src="../assets/images/curology.jpg" class="card-img-top img-fluid h-100" alt="Body Wash">
              <div class="card-body bg-light border-0 px-0 pt-2 pb-0">
                <h5 class="card-title fw-semibold mb-0">Body Wash</h5>
                <p class="fw-light">Curology</p>
                <p class="card-text d-flex">
                  <span class="pe-2">NT$1,580</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 h-100">
              <img src="../assets/images/the-tonik.jpg" class="card-img-top img-fluid h-100"
                alt="Apple Cider Vinegar Capsule">
              <div class="card-body bg-light border-0 px-0 pt-2 pb-0">
                <h5 class="card-title fw-semibold mb-0">Apple Cider Vinegar Capsule</h5>
                <p class="fw-light">Tonik</p>
                <p class="card-text d-flex">
                  <span class="pe-2">NT$1,580</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-lg-15 my-8">
      <div class="row">
        <div class="col-12 col-lg-8 pr-30">
          <img src="../assets/images/laura-chouette.jpg" alt="laura-chouette" class="img-fluid img-size2">
        </div>
        <div class="col-12 col-lg-4 ps-lg-0 d-lg-flex flex-lg-column justify-content-lg-center mt-2 mt-lg-0">
          <h3 class="fw-bold fs-2">Bottle-Recycling</h3>
          <p class="fs-5 mb-4 fw-light fs-5">Recycle your used empty bottles and be rewarded!</p>
          <p class="mb-4 fw-light">For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.</p>
          <a href="#" class="text-warning text-decoration-none fw-semibold">查看更多</a>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>